
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<body class="flex min-h-screen flex-col overflow-hidden bg-body font-poppins text-txt">
    <div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
        <div class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
            @if (ViewBag.e != null)
            {
                <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
                    Forgot Password @ViewBag.e
                </h1>
            }
            <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
                Forgot Password
            </h1>
        </div>
    </div>

    <div class="container mx-auto my-5 w-2/4 px-2 sm:px-8">
        <form class="step-container m-3 rounded-lg bg-white p-5" action="@Url.Action("ForgotPassword1","Account")" method="post">
            <div class="step-content active hidden flex-col gap-4">
                <span class="my-2">Enter the email of the associated account.</span>
                <label class="flex flex-col">
                    <span class="text-sm">Email</span>
                    <input class="input" name="email" type="email" required />
                </label>
                @*<a class="btn-next-step btn-effect ml-auto w-max rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
                   href="javascript:void(0)">
                    <span class="text-center">Next</span>
                </a>*@
                <button class="btn-effect rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
                        type="submit">
                    <span class="text-center">Next</span>
                </button>
            </div>
        </form>
    </div>
</body>
