
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<body class="flex min-h-screen flex-col overflow-hidden bg-body font-poppins text-txt">
    <div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
        <div class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
            <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
                Forgot Password
            </h1>
        </div>
    </div>

    <div class="container mx-auto my-5 w-2/4 px-2 sm:px-8">
        <form class="step-container m-3 rounded-lg bg-white p-5" action="@Url.Action("ForgotPassword2","Account")" method="post">
            <div class="flex-col gap-2">
                <div class="flex flex-col items-center gap-2">
                    <span class="text-2xl font-bold">Verify your Email</span>
                    <span class="text-sm">Enter the 4-digit code we sent to you</span>
                    @*<span class="text-sm">15****68</span>*@
                    <div class="my-3 flex flex-wrap gap-3">
                        <input type="hidden" name="email" value="@ViewBag.Email" />
                        <input name="so1" class="transition-all-300 h-10 w-16 rounded-lg border-2 border-gray-200 text-center uppercase outline-none focus:border-primary-color focus:ring-0"
                               type="number" tabindex="1" maxlength="1" placeholder="0" required />
                        <input name="so2" class="transition-all-300 h-10 w-16 rounded-lg border-2 border-gray-200 text-center uppercase outline-none focus:border-primary-color focus:ring-0"
                               type="number" tabindex="2" maxlength="1" placeholder="0" required />
                        <input name="so3" class="transition-all-300 h-10 w-16 rounded-lg border-2 border-gray-200 text-center uppercase outline-none focus:border-primary-color focus:ring-0"
                               type="number" tabindex="3" maxlength="1" placeholder="0" required />
                        <input name="so4" class="transition-all-300 h-10 w-16 rounded-lg border-2 border-gray-200 text-center uppercase outline-none focus:border-primary-color focus:ring-0"
                               type="number" tabindex="4" maxlength="1" placeholder="0" required />
                    </div>
                    <div class="text-center">
                        <a class="resend-code text-primary-color" href="@Url.Action("ForgotPassword2", "Account", new {email = ViewBag.Email})">Resend Code</a>
                    </div>
                </div>
                <div class="flex justify-between">
                    <a class="btn-prev-step btn-effect rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
                       href="@Url.Action("ForgotPassword1","Account")">
                        <span class="text-center">Previous</span>
                    </a>
                    <button class="btn-next-step btn-effect rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
                            type="submit">
                        <span class="text-center">Complete</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>

