
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<body class="flex min-h-screen flex-col overflow-hidden bg-body font-poppins text-txt">
    <div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
        <div class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
            <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
                Forgot Password
            </h1>
        </div>
    </div>

    <div class="container mx-auto my-5 w-2/4 px-2 sm:px-8">
        <form class="step-container m-3 rounded-lg bg-white p-5">
            <div class="flex-col gap-2">
                <div class="flex flex-col items-center gap-2 text-center">
                    <div class="max-h-[200px] max-w-[200px]">
                        <img class="h-full w-full" src="~/Content/images/svg/password-successfull.svg" alt="password-successfull" />
                    </div>
                    <h1 class="text-2xl uppercase text-primary-color">
                        Password Changed Successfully
                    </h1>
                    <p>
                        Your password has been changed successfully, you can now log in
                        again with your new password.
                    </p>
                </div>
                <a class="btn-effect ml-auto w-max rounded-lg bg-primary-color p-2 px-3 font-bold uppercase text-white"
                   href="@Url.Action("Index","Home")">
                    <span class="text-center">Close</span>
                </a>
            </div>
        </form>
    </div>
</body>


